body {
  .center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
    .form {
      padding: 40px;
      width: 400px;
      border-radius: 8px;
      border: 2px solid teal;
      display: flex;
      flex-direction: column;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 1380px;
    display: block;
  }
  .NavChat {
    height: 75px;
    background: #0f0f0f;

    width: 1440px;
    .navNick {
      color: white;
      padding-top: 10px;
      font-weight: 600;
      font-size: 24px;
    }
  }
  .MainChat {
    height: 880px;
    background: #1a1a1a;
    width: 1440px;
    padding-top: 35px;

    .my {
      background-color: #14ff72;

      margin-left: auto;
    }
    .any {
      background-color: #464646;
    }
    .message {
      width: 469px;

      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
      border-radius: 9px;

      margin-bottom: 9px;
      border-radius: 9px;

      .message__content {
        margin-left: 16px;
        margin-right: 8px;
        font-weight: 700;
        font-size: 20px;

        .content__wrapper {
          display: flex;
          justify-content: space-between;
          font-weight: 400;
          font-size: 19.48px;
        }
      }
    }
  }
}

.FootChat {
  height: 70px;
  background: #3a3a3a;
  .FootChat__wrapper {
    position: relative;
  }
  width: 1440px;
  .FootChat__input {
    display: inline-block;
    background-color: #3a3a3a;
    width: 100%;
    height: 68px;
    border: none;
    // &:after {
    //   content: "../assets/Vector.png";
    // }
  }
  .FootChat__button {
    background-color: #3a3a3a;
    border: none;
    position: relative;
    // right: 0;
    // bottom: 0;
    // overflow: hidden;

    transform: rotate(-45deg);
    // background-image: url(./assets/Vector.png);
  }
  // .FootChat__button ::after {
  //   content: "./assets/Vector.png";
  // }
}
